html {
  /* background: url("image/PTexture.png") center center no-repeat fixed;
  background-size: cover; */
  font-family: "VT323", "noto sans";
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}
/* Start of navigation bar */
nav ul {
  position: relative;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #303030;
}

nav ul a {
  position: relative;
  display: flex;
  color: #fff;
  font-size: 160%;
  text-decoration: none;
  transition: color 0.15s;
}

.nav-ul {
  list-style-type: none;
}

.back {
  margin-right: auto;
}

.back:hover {
  color: #6b9275;
}

.back:active {
  color: #49614f;
}

.logo {
  margin-right: 786px;
  font-size: 5em;
}

/* End of navigation bar */
h1 {
  text-align: center;
  font-size: 300%;
}
.contribution {
  position: relative;
  text-align: center;
  font-size: 250%;
}

@media screen and (max-width: 800px) {
  .logo {
    margin-right: 0px;
  }

  .contribution {
    font-size: 160%;
    margin-left: 7px;
    margin-right: 7px;
  }
}
