/* Start of Yellow splash text */

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.tilt {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  position: absolute;
  right: 15em;
  bottom: 7em;
}

#status {
  line-height: 30px;
  overflow: hidden;
  width: 20em;
  text-align: center;
  color: #bbb814;
  font-size: 90%;
  text-shadow: 1px 1px #0000008f;
}

.pop {
  animation: pop 0.58s infinite;
  -webkit-animation: pop 0.58s infinite;
}

@keyframes pop {
  from {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.95);
  }
}

/* End of Yellow splash text */
/* Start of navigation bar */

nav ul div {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #303030;
}

nav ul div a {
  display: flex;
  color: #fff;
  font-size: 160%;
  text-decoration: none;
}

.nav-ul {
  list-style-type: none;
}

.logo {
  font-size: 500%;
}

.dd-logo-div {
  display: none;
}

.dd-logo {
  display: none;
}

.nav-left:hover,
.nav-right:hover {
  color: #6b9275;
}

.nav-left:active,
.nav-right:active {
  color: #49614f;
}

/* End of navigation bar */
/* Drop down Start */

#dropdown-png {
  width: 120%;
  height: auto;
}

.dropbtn {
  background-color: #303030;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-div {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: #6b9275;
}

.dropdown-content a:active {
  color: #49614f;
}

.show {
  display: block;
}
/* Drop down End */
/* Notification bell Start */

.notification-bell-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.notification-bell-png {
  width: 150%;
  height: auto;
}

.notification-bell-banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5em;
  left: 2.5em;
  width: 25px;
  height: auto;
  font-size: 150%;
  color: #ffffff;
  background: rgb(234, 0, 0);
}

/* Notification bell End */

header {
  display: flex;
  color: rgb(96, 139, 107);
  text-align: center;
  font-size: 160%;
  font-weight: bold;
  line-height: 50px;
  padding: 75px;
  padding-top: 0px;
  padding-bottom: 60px;
}

#tutorial-png {
  top: 24em;
  position: relative;
  width: 2%;
  height: auto;
}

.version {
  margin-top: 15em;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 160%;
  color: rgb(96, 139, 107);
}

/* Cookie consent Start */

.cookie-banner.hide {
  display: none;
}

.cookie-banner {
  display: flex;
  position: fixed;
  font-size: 180%;
  bottom: 0.5em;
  right: 0.5em;
  width: 20%;
  padding: 5px 14px;
  background-color: #303030;
  color: #6b9275;
  border: dashed 1px rgb(175, 175, 175);
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cookie-buttons {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-bottom: 5px;
}

.ok-btn {
  font-size: 70%;
  background-color: #303030;
  color: #fff;
  border: dashed 1px;
  cursor: pointer;
}

.cookie-info {
  font-size: 70%;
  background-color: #303030;
  color: #fff;
  border: dashed 1px;
  cursor: pointer;
}

.btn:hover,
.cookie-info:hover {
  color: #6b9275;
}

.btn:active,
.cookie-info:active {
  color: #49614f;
}

/* Cookie consent End */

/* Temporary Mobile compatibility */

@media only screen and (max-width: 900px) {
  .tilt {
    display: none;
  }

  .dropdown-div {
    display: inline-block;
    padding: 0;
  }

  .dd-logo-div {
    padding: 0;
    display: flex;
  }

  .dd-logo {
    display: block;
    padding: 0;
    font-size: 500%;
  }

  nav ul div {
    display: flex;
    justify-content: normal;
    padding: 10px;
    padding-left: 0;
  }

  .nav-left,
  .nav-right,
  .logo {
    display: none;
  }

  /* Notification bell Start */
  .notification-bell-png {
    width: 120%;
    height: auto;
  }

  .notification-bell-banner {
    width: 15px;
    font-size: 120%;
    left: 2.5em;
  }

  /* Notification bell End */

  header {
    line-height: 36px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #tutorial-png {
    width: 10%;
    height: auto;
  }

  /* Cookie consent Start */
  .cookie-banner {
    position: fixed;
    font-size: 180%;
    bottom: 0;
    left: 0;
    min-width: 10em;
    padding: 5px 14px;
  }

  /* Cookie consent End */
}
