html {
  /* background: url("image/PTexture.png") center center no-repeat fixed;
  background-size: cover; */
  font-family: "VT323", "noto sans";
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(255, 252, 252);
}

/* Start of Yellow splash text */

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

#status {
  overflow: hidden;
  width: 20em;
  text-align: center;
  color: #bbb814;
  font-size: 160%;
  text-shadow: 1px 1px #0000008f;
}

.pop {
  animation: pop 0.58s infinite;
  -webkit-animation: pop 0.58s infinite;
}

@keyframes pop {
  from {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.95);
  }
}

.tilt {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  position: absolute;
  top: 11em;
  left: 64.5em;
}

/* End of Yellow splash text */
/* Start of navigation bar */
nav ul {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #303030;
}

nav ul a {
  display: flex;
  color: #fff;
  font-size: 160%;
  text-decoration: none;
  transition: color 0.15s;
}

.nav-ul {
  list-style-type: none;
}
/* Drop down Start */
.drop-down-div {
  display: none;
}

/* Drop down End */

.logo {
  font-size: 5em;
}

.nav-left:hover,
.nav-right:hover {
  color: #6b9275;
}

.nav-left:active,
.nav-right:active {
  color: #49614f;
}
/* End of navigation bar */

/* Notification bell Start */

#notification-bell-png {
  width: 5%;
  height: auto;
}

/* Notification bell End */

header {
  display: flex;
  color: rgb(96, 139, 107);
  text-align: center;
  font-size: 160%;
  font-weight: bold;
  line-height: 50px;
  padding: 75px;
  padding-top: 0px;
  padding-bottom: 60px;
}

#tutorial-png {
  top: 24em;
  position: relative;
  width: 2%;
  height: auto;
}

.version {
  margin-top: 15em;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 160%;
  color: rgb(96, 139, 107);
}

/* Temporary Mobile compatibility */

@media only screen and (max-width: 430px) {
  .tilt {
    display: none;
  }

  .nav-ul {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    justify-content: flex-start;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .logo {
  }

  /* Drop down Start */
  .drop-down-div {
    display: block;
  }

  #drop-down-button {
    border: 0;
    padding: 0;
    margin-right: 2em;
    background-color: #303030;
  }

  #drop-down-png {
    position: relative;
    padding-top: 1em;
    width: 150%;
    height: auto;
  }
  /* Drop down End */

  /* Notification bell Start */
  #notification-bell-png {
    width: 20%;
    height: auto;
  }

  /* Notification bell End */

  header {
    line-height: 36px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #tutorial-png {
    width: 10%;
    height: auto;
  }
}
