html {
  /* background: url("image/PTexture.png") center center no-repeat fixed;
  background-size: cover; */
  font-family: "VT323", "noto sans";
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh;
}

nav {
  background-color: #171615;
}

.back:hover,
.nav-left:hover,
.nav-right a:hover {
  color: #6b9275;
  transition: 0.3s;
}

.dropdown-content a {
  font-size: 150%;
}

.dropdown-content a:hover {
  color: #6b9275;
}

.dropdown-content a:active {
  color: #49614f;
}

.back:active,
.nav-left:active,
.nav-right a:active {
  color: #49614f;
  transition: 0.1s;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #111111;
  padding: 10px 0 0 0;
}

.footer {
  width: 80%;
  height: auto;
  color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #f2f2f2;
  text-decoration: none;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.ddbrk {
  width: 80%;
  margin: auto;
  border-left: 0;
  border-right: 0;
  border-top: 2px dotted #6b9275;
  border-bottom: 0;
  background-size: cover;
}
