/* Start of navigation bar */
nav {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #303030;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.nav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-size: 500%;
  padding: 0;
}

.nav-right {
  float: right;
}

#back:hover,
#commentBox:hover,
#credits:hover {
  color: #6b9275;
}

#back:active,
#commentBox:active,
#credits:active {
  color: #49614f;
}

/* End of navigation bar */
/* Drop down Start */

#dropdown-png {
  width: 120%;
  height: auto;
}

.dropbtn {
  background-color: #30303000;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-div {
  display: inline-block;
}

.dropdown-content {
  background-color: #303030;
  margin-top: 8.1em;
  width: 100%;
  display: none;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: #6b9275;
}

.dropdown-content a:active {
  color: #49614f;
}

.show {
  display: block;
}
/* Drop down End */

.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
}

.box .info {
  position: relative;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  font-size: 160%;
  background-color: #6b9275;
  line-height: 25px;
  flex-basis: 60em;
}

h1 {
  font-size: 250%;
}

h2 {
  margin-top: 3em;
  margin-bottom: 1em;
}

.cur_ver_txt {
  font-weight: bold;
}

.top_version_number {
  font-size: larger;
  font-weight: 1000;
}

.txtlogbrk {
  width: 30em;
  padding: 15px;
  margin: auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px dotted #0000001c;
}

.random-link {
  color: rgb(174, 174, 174);
}

.bottomInfo {
  font-family: "VT323", "noto sans";
  font-size: 160%;
  margin-top: 3em;
  margin-left: 5px;
}

@media screen and (max-width: 300px) {
  .box .info {
    font-size: 100%;
    margin-left: 80em;
    margin-right: 80em;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    margin: 0;
  }

  .nav-ul {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    justify-content: flex-start;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  h1 {
    line-height: 50px;
  }

  .box .info {
    font-size: 120%;
    margin-left: 50em;
    margin-right: 50em;
  }

  .txtlogbrk {
    width: auto;
  }
}

@media screen and (min-width: 1030px) {
  .dropdown-div {
    display: none;
  }

  .nav-left,
  .nav-right {
    display: inline;
  }

  h1 {
    line-height: 50px;
  }

  .box .info {
    font-size: 120%;
    margin-left: 2em;
    margin-right: 2em;
  }

  .txtlogbrk {
    width: auto;
  }
}
