/* Start of navigation bar */
nav {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #303030;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.nav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-size: 500%;
  padding: 0;
}

.back {
  display: none;
  padding-left: 5px;
}

.back:hover {
  color: #6b9275;
}

.back:active {
  color: #49614f;
}

/* End of navigation bar */
/* Drop down Start */

#dropdown-png {
  width: 120%;
  height: auto;
}

.dropbtn {
  background-color: #303030;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-div {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303030f5;
  min-width: 25em;
  min-height: auto;
  margin-top: 1.3em;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: #6b9275;
}

.dropdown-content a:active {
  color: #49614f;
}

.show {
  display: block;
}
/* Drop down End */

h1 {
  text-align: center;
  font-size: 300%;
}
.contribution {
  position: relative;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 250%;
}

@media screen and (min-width: 1370px) {
  .dropdown-div {
    display: none;
  }

  .back {
    display: inline-block;
  }

  .contribution {
    font-size: 160%;
    padding-left: 7px;
    padding-right: 7px;
  }
}
