/* Start of navigation bar */
nav {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: #303030; */
}

nav a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.nav-center {
  float: none;
  text-align: center;
  padding: 0;
}

.logo {
  font-size: 500%;
  padding: 0;
}

.nav-ul {
  list-style-type: none;
}

.back {
  display: none;
}
/* End of navigation bar */
/* Drop down Start */

#dropdown-png {
  width: 120%;
  height: auto;
}

.dropbtn {
  background-color: #303030;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-div {
  display: inline-block;
}

.dropdown-content {
  background-color: #303030;
  margin-top: 0.1em;
  width: 100%;
  display: none;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: #6b9275;
}

.dropdown-content a:active {
  color: #49614f;
}

.show {
  display: block;
}
/* Drop down End */

h1 {
  text-align: center;
  font-size: 300%;
}

.notification-lists {
  background-color: #fff;
  font-size: 150%;
  width: 100%;
}

.notification-box {
  border: solid #303030 2px;
  background-color: whitesmoke;
  list-style: none;
  margin: 1em;
  padding: 20px;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
}

@media screen and (min-width: 1370px) {
  .dropdown-div {
    display: none;
  }

  .nav-center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .back {
    display: inline-block;
    padding-left: 5px;
  }

  .notification-lists {
    margin-left: 1em;
    margin-right: 1em;
  }

  .notification-box {
    display: flex;
  }
}
